[submodule "Backend"]
	path = Backend
	url = https://github.com/RobinKuiper/n00bsterPlanner
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/RobinKuiper/n00bster_frontend
[submodule "Websocket"]
	path = Websocket
	url = https://github.com/RobinKuiper/n00bster_ws
